# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# Jupyter Notebook
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Virtual Environments
# -----------------------------
venv/
env/
.venv/

# -----------------------------
# Dataset (DO NOT UPLOAD)
# -----------------------------
data/

# -----------------------------
# Model Weights (DO NOT UPLOAD)
# -----------------------------
models_weights/
*.pth
*.pt

# -----------------------------
# Results / Outputs (DO NOT UPLOAD)
# -----------------------------
results/
*.png
*.jpg
*.jpeg
*.csv

# -----------------------------
# Zip files (Google Drive upload)
# -----------------------------
*.zip

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Logs
# -----------------------------
*.log